.customPie {
    width: 800px;
}

.customPie #pieChart {
    background-color: antiquewhite
}

.customPie #pieLegend {
    position: absolute;
    left: 470px;
    top: 150px;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:470px; top:150px;}
    75%  {left:470px; top:150px;}
}
